<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.train.mapper.CertificateMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into certificate (title, startdate, expiredYear, trainUnit)
        values (#{title},#{startdate},#{expiredYear},#{trainUnit})
    </insert>
    <update id="update">
        update certificate
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="startdate != null">startdate = #{startdate},</if>
            <if test="expiredYear != null">expiredYear = #{expiredYear},</if>
            <if test="trainUnit != null">trainUnit = #{trainUnit},</if>
        </set>
        where id = #{id}
    </update>

</mapper>
