<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.train.mapper.UserCertificateMapper">
    <insert id="save">
        insert into userscertificate (name, idCard, cerNumber, certificateId, image)
        values (#{name},#{idCard},#{cerNumber},#{certificateId},#{image})
    </insert>
    <select id="getByNumber" resultType="com.train.vo.CertificateVO">
        select uc.id,uc.cerNumber,c.title,c.startdate,c.expiredYear,c.trainUnit,uc.name,uc.image,uc.idCard from userscertificate uc
            join certificate c on uc.certificateId = c.id
        where uc.cerNumber = #{number};
    </select>
    <select id="pageQuery" resultType="com.train.vo.CertificateVO">
        select uc.id,uc.cerNumber,c.title,c.startdate,c.expiredYear,c.trainUnit,uc.name,uc.image,uc.idCard from userscertificate uc
            join certificate c on uc.certificateId = c.id
        <where>
            <if test="name != null and name != ''">and uc.name like concat('%',#{name},'%')</if>
        </where>
    </select>
    <update id="update">
        update userscertificate
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="idCard != null">idCard = #{idCard},</if>
            <if test="cerNumber != null">cerNumber = #{cerNumber},</if>
            <if test="image != null">image = #{image},</if>
        </set>
        where id = #{id}
    </update>
</mapper>
